body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

input {
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 0 auto;
}

select {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

input, select{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.button-container {
  text-align: center;
}

.button-container a {
  display: inline-block;
  text-decoration: none;
  background-color: #CCC;
  color: #111;
  border: solid black thin;
  width: 40px;
  margin-top: 10px;
}

.button-container button {
    display: inline-block;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-decoration: none;
    background: #0069ed;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.button-container button:hover,
.button-container button:focus {
    background: #0053ba;
}

.button-container button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.button-container button:active {
    transform: scale(0.99);
}


.complex-expression .complex-expression::before {
  content: "(";
  font-size: 225%;
}
.complex-expression .complex-expression::after {
  content: ")";
  font-size: 225%;
}

.equals {
  margin-top: 20px;
  font-size: 200%;
  text-align: center;
}

.total {
  margin-top: 20px;
  font-size: 200%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
