body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

input {
  width: 40px;
  text-align: center;
  margin: 0 auto;
}

select {
  width: 40px;
  margin: 0 auto;
}

.button-container {
  text-align: center;
}

.button-container a {
  display: inline-block;
  text-decoration: none;
  background-color: #CCC;
  color: #111;
  border: solid black thin;
  width: 40px;
  margin-top: 10px;
}

.complex-expression .complex-expression::before {
  content: "(";
  font-size: 225%;
}
.complex-expression .complex-expression::after {
  content: ")";
  font-size: 225%;
}

.equals {
  margin-top: 20px;
  font-size: 200%;
  text-align: center;
}

.total {
  margin-top: 20px;
  font-size: 200%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
